body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*Estilos NavBar*/


.listaNoOrdenada{
    display: flex;
    list-style: none;
    align-items: center;
}

.listNav{
    margin: 20px 10px 0px 4px ;
    padding-left: 0px;
}


.parraNav{
    text-decoration: none;
    color: grey;
}

.parraNav:hover{
    color: black;
}

.logo{
    height: 50px;
}

/*Estilos Header*/

header{
    background-image: url('./Recursos integrador/home-lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50%;
    transition: margin-top 0.3s ease;
    
}

.contenedorTexto{
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 0px 60px 60px 0px;
}
.textoImg, .parrafo1{
    color: #28a745 ;
    text-shadow: 2px 2px 1px black ;
    
}

/*Estilos Main*/

.textoMain{
    font-size: 1.5rem;
}

.parrafoMain{
    box-sizing: border-box;
}

.logoGC{
    background-image: url('./Recursos integrador/gc.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    height: 70px;
    margin: 0;
    padding: 0;
}

.videoYoutube{
    box-shadow: 10px 10px 10px black;
}
    


/* Estilos Footer*/

footer{
    background-color: #3c4146;
    padding: 20px;
    width: 100%;
    bottom: 0;
    
}

.caracteres{
    margin-top: 0.25rem;
    font-size: .875em;
    color: #6c757d;
}

.tituloh2{
    color:#28a745 ;
    font-size: 70px;
    text-shadow: 3px 3px 2px black ;
    font-size: 1.7rem;
    display: inline-block;
}

.slogan{
    background-color: white;
}

.direccion{
    border: solid #28a745 ;
    border-radius: 30px;
}

.listadireccion{
    margin: 5px 0px 5px 0px;
}

/*Media Queries*/

@media(max-width: 767px){
    .listaNoOrdenada{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    
        .imgSVG{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

@media(max-width:526px){
    .videoYoutube{
        width: 280px;
    }
    .textoCentral{
        font-size: 1rem;
    }
    .contenedorTexto{
        position:absolute;
        bottom: 20;
        right: 0;
        left: 20px;
        margin: 0px 60px 60px 0px;
    }
}
    




 
    


   

